APP_ENV=testing
APP_KEY=

APP_MAINTENANCE_DRIVER=file
BCRYPT_ROUNDS=4
CACHE_STORE=array
MAIL_MAILER=array
QUEUE_CONNECTION=sync
SESSION_DRIVER=array

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=grimoire_testing
DB_USERNAME=postgres
DB_PASSWORD=
